/* frontend/src/components/NotificationBanner.css */
.notification-banner {
  position: absolute;
  top: 10px; /* Adjust  as needed */
  left: calc(50% - 300px); /* Align to left edge of viewport */
  background-color: rgba(255, 255, 255, 0.9); /* Light, semi-transparent background */
  color: #333; /* Dark text for contrast */
  padding: 10px 20px;
  border-radius: 8px;
  z-index: 1000; /* Ensure it's above other map elements */
  display: flex; /* Re-add flex display */
  align-items: center;
  justify-content: space-between; /* Re-add space-between */
  /* Removed gap: 10px; to make it flush */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Use opacity and visibility for smooth transitions and to reserve space */
  opacity: 1;
  visibility: visible;
  min-height: 60px; /* Added min-height to prevent size changes */
}

@media (max-width: 768px) {
  .notification-banner {
    left: calc(80% - 300px);
  }
}

.notification-banner.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) translateY(-20px); /* Slide up slightly when hidden */
}

.notification-banner p {
  margin: 0;
  font-size: 1.1em;
}

.notification-icon {
  display: flex;
  margin-right: 16px;
  align-items: center;
  color: #333; /* Icon color, matching text */
}

.notification-close-button {
  background: none;
  border: none;
  color: #333; /* Close button color, matching text */
  font-size: 1.2em;
  cursor: pointer;
  padding: 0 5px;
}

.notification-close-button:hover {
  color: #666; /* Darker hover color */
}
