/* ZoomControls.css */
.zoom-btn {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.zoom-btn:hover {
  font-weight: 700;
}
